<h1>Showing a restaurant</h1>

  <p> The name is <%= @restaurant.name  %> </p>
  <p>Is located at <%= @restaurant.address  %></p>
  <p> Has this category <%= @restaurant.category %></p>
<!--
<p> <%= link_to "Click here to edit this restaurant", edit_restaurant_path(@restaurant) %> </p> -->

<p> <%= link_to "Click here to go back", restaurants_path %> </p> -->
